header,
main,
aside, 
footer {
    position: absolute;
}

header {
    width: 100%;
    top: 0;
}

aside {
    width: 20%;
    right: 0;
    top: 88px;
    height: calc(100% - 88px);
}

main {
    width: 80%;
    top: 88px;
}

footer {
    bottom: 0;
    width: 100%;
}